.content__text
	.container
		.info
			a(id='abt')
			.text__h2.H2 About me
			.text__h3
				| Hi, I'm Denis – UX/UI designer from Minsk.
				| I'm interested in design and everything connected with it.
			.text__h3
				| I'm studying at courses "Web and mobile design
				| interfaces" in IT-Academy.
			.text__h3
				| Ready to implement excellent projects
				| with wonderful people.