.content
	.container
		.intro
			.text__intro
				| Denis
				br
				| Novik
			.text__intro__center
				| UX | UI designer
				br
				|  24 years old, Minsk
			.text__lang
				a.lang(href='#') RU |
				|
				a.lang(href='#')  ENG 
		.intro__photo
			img(src='images/photo_den.png')
		.intro__photo2
			img(src='images/BSPP2266.png')