.footer
	.container
		.super__footer
			a(id='cont')
			.footer__h2 Contacts
			.footer__h3
				| Want to know more or just chat?
				br
				| You are welcome!
			.black__button
				button Send message
			.footer__logo
				.one__logo.loggo
					img(src='images/Group 22.png')
				.two__logo.loggo
					img(src='images/Group 8.png')
				.three__logo.loggo
					img(src='images/Group 9.png')
				.four__logo.loggo
					img(src='images/surface1 7.png')
			.footer__text
				| Like me on
				br
				|  LinkedIn, Instagram, Behance, Dribble