.header
	.container
		.header__menu
			ul.header__ul
				li
					a(href='#') Home
				li
					a(href='#abt') About me
				li
					a(href='#skil') Skills
				li
					a(href='#port') Portfolio
				li
					a(href='#cont') Contacts
			.menu-burger__header
				span