.portfolio
	.container
		.portfolio__center
			a(id='port')
			.portfolio__h2.H2 Portfolio
			.imeg
				img(src='images/Слой 8.png')
			div
				a.portfolio__a(href='#') Online fashion store - Homepage
			.imeg
				img(src='images/reebok_web.png')
			div
				a.portfolio__a(href='#') Reebok Store - Concept
			.imeg
				img(src='images/reebok_web (1).png')
			div
				a.portfolio__a(href='#') Braun Landing Page - Concept