.skills
	.container
		.skills__one
			a(id='skil')
			.H2 Skills
			.skills__h3 I work in such programs as
			.skills__logo
				.ps
					.mini__logo
						img(src='images/Group.png')
					.logo_text
						| Adobe
						br
						| Photoshop
					.logo__stars
						img(src='images/stars_1.png')
				.ai
					.mini__logo
						img(src='images/Group 2.png')
					.logo_text
						| Adobe
						br
						| Illustrator
					.logo__stars
						img(src='images/Group 3.png')
				.ae
					.mini__logo
						img(src='images/Group (1).png')
					.logo_text
						| Adobe
						br
						| After Effects
					.logo__stars
						img(src='images/stars_1.png')
				.fgm
					.mini__logo
						img(src='images/Group_f.png')
					.logo_text.L1 Figma
					.logo__stars.s1
						img(src='images/stars_1.png')