extends pug/base

prepend vars
	//-

append vars
	//-

block content
	include pug/components/header
	include pug/components/content
	include pug/components/content__text
	include pug/components/skills
	include pug/components/portfolio
	include pug/components/footer
